.combine_hud {
    user-select: none;
    
    .minimap {
        background-image: url('../../images/hud/combine/hud_minimap.png');
    }

    .resources_popcap {
        background-image: url('../../images/hud/combine/hud_minimap_side.png');
        background-size: cover;
        background-repeat: no-repeat;
    }

    .abilities {
        background-image: url('../../images/hud/combine/hud_abilities.png');

        .ability_button {
            background-image: url('../../images/hud/combine/hud_button.png');

            &:hover {
                background-image: url('../../images/hud/combine/hud_button_hover.png');
            }
            &:active {
                background-image: url('../../images/hud/combine/hud_button_pressed.png');
            }

            &.disabled {
                background-image: url('../../images/hud/combine/hud_button_disable.png');
                background-size: cover;
            }
        }
    }

    .units {
        background-image: url('../../images/hud/combine/hud_units.png');
        // "groups" part should receive events, but is placed behind units (overlapping)
        pointer-events: none;

        .units_container {
            // Re-enable pointer events for parts in the actual hud.
            pointer-events: auto;
        }

        &.small {
            background-image: url('../../images/hud/combine/hud_units_small.png');
        }
    }

    .groups {
        .group_button {
            background-image: url('../../images/hud/combine/hud_groupbutton.png');
        }
    }
}
