.notifier {
    user-select: none;
    position: absolute;
    background-color: transparent;
    left: 5%;
    top: 15%;
    width: 10%;
    height: 20%;

    .notifier-line {
        font-size: 1.5em;
    }
}

.minimap {
    background-size: cover;
    background-repeat: no-repeat;
}

.popcap {
    background-size: cover;
    background-repeat: no-repeat;
}

.resources {
    background-size: cover;
    background-repeat: no-repeat;
}

.units {
    background-size: cover;
    background-repeat: no-repeat;

    .attributeList {
        > span:after
        {
            content: ' - ';
        }
        > span:last-child:after
        {
            content: '';
        }
    }

    .unit_selection {
        display: grid;
        grid-column-gap: 5px;
        grid-row-gap: 5px;
    }

    .unit_button {
        background-image: url('../../images/hud/hud_unit_slot.png');
        background-size: cover;

        &:hover {
            background-image: url('../../images/hud/hud_unit_slot_hover.png');
            filter: brightness(2);
        }
        &:active {
            background-image: url('../../images/hud/hud_unit_slot_pressed.png');
        }
    }
}

.abilities {
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-auto-flow: row;
    justify-content: center;
    align-items: center;

    .ability_button {
        background-size: cover;

        &:not(.disabled):hover {
            filter: brightness(2);
        }
    }
}

.groups {
    .group_holder {
        position: relative;
        display: inline-block;
        height: 100%;
        margin: 0 4px 0 4px;
    }

    .group_button {
        background-size: cover;
        background-repeat: no-repeat;
        bottom: -40%;
        transition: 1s;

        &:hover {
            filter: brightness(2);
            transition: 0.5s;
            bottom: -10%;
        }

        .index {
            color: white;
            font-weight: bold;
            font-size: 1.25em;
            position: absolute;
            top: 6%;
            left: 6%;
        }
    }
}