.rebels_hud {
    user-select: none;
    
    .minimap {
        background-image: url('../../images/hud/rebels/hud_minimap.png');
    }

    .popcap {
        background-image: url('../../images/hud/rebels/hud_popcap.png');
    }

    .resources {
        background-image: url('../../images/hud/rebels/hud_resources.png');
    }

    .abilities {
        background-image: url('../../images/hud/rebels/hud_abilities.png');

        .ability_button {
            background-image: url('../../images/hud/rebels/hud_button.png');
            background-size: cover;

            &:hover {
                background-image: url('../../images/hud/rebels/hud_button_hover.png');
                filter: brightness(2);
            }
            &:active {
                background-image: url('../../images/hud/rebels/hud_button_pressed.png');
            }

            &.disabled {
                background-image: url('../../images/hud/rebels/hud_button_disable.png');
                background-size: cover;
                background-repeat: no-repeat;
            }
        }
    }

    .units {
        background-image: url('../../images/hud/rebels/hud_units.png');
    }

    .popcap {
        .pop_icon {
            -webkit-mask-image: url('../../images/hud/icon_population.png');
            -webkit-mask-size: contain;
            -webkit-mask-repeat: no-repeat;
            -webkit-mask-position: center;
        }
    }

    .groups {
        .group_button {
            background-image: url('../../images/hud/rebels/hud_groupbutton.png');
        }
    }
}
