html {
    --primary-theme-color: #cf880d;
    --secondary-theme-color: #272727;

    --secondary-theme-color-op20: #27272733;
    --secondary-theme-color-op40: #27272766;
    --secondary-theme-color-op60: #27272799;
    --secondary-theme-color-op80: #272727CC;
    --secondary-theme-color-op90: #272727E6;
    --secondary-theme-color-op95: #272727F2;

    --accent-theme-color: #cfc2ae;

    --button-text-color: #cfc2ae;
    --button-text-color-hover: var(--primary-theme-color);
    --button-text-color-op50: #cfc2ae32;

    --button-background-color: #cfc2ae;
    --button-background-color-hover: var(--secondary-theme-color); 
}

body, html {
	height: 100%;
	font-size: 10px;
	line-height: 1;
	overflow: hidden;
}

#appRoot {
    height: 100%;
}

a {
	text-decoration: none;
}

body {
	background: rgb( 0, 0, 0);
	background-color: transparent;
	font-family: 'Open Sans';
}

::-webkit-scrollbar {
    border-image: url(../../../mainmenu/window_bg.jpg) 0 2 0 2;
    width: 1.5em;
    height: 8em;
    background-image: url(../../../mainmenu/window_bg.jpg);
    background-repeat: repeat;
}

::-webkit-scrollbar-button:vertical:decrement {
    background-image: url(../../../mainmenu/arrow_scroll_up.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px 0px, 0 0;
    height: 1.5em;
}

::-webkit-scrollbar-button:vertical:decrement:active {
    background-image: url(../../../mainmenu/arrow_scroll_up_press.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 0, 0 0;
    height: 1.5em;
}

::-webkit-scrollbar-button:vertical:increment {
    background-image: url(../../../mainmenu/arrow_scroll_down.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 1.5em;
    border-top-width: 0;
    background-position: 0 0, 0 0;
}

::-webkit-scrollbar-button:vertical:increment:active {
    background-image: url(../../../mainmenu/arrow_scroll_down_press.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 1.5em;
    border-top-width: 0;
    background-position: 0 0, 0 0;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.8);
    background-color: #1a1a1a;
}

::-webkit-scrollbar-thumb:vertical {
    border-image: url(../../../mainmenu/scrollBar.jpg) 15 0 15 0;
    border-color: transparent;
    border-width: 1.5em 0;
    min-height: 6.8em;
}

::-webkit-scrollbar-thumb:vertical:active {
    border-image: url(../../../mainmenu/scrollBar_press.jpg) 15 0 15 0;
    border-color: transparent;
    border-width: 1.5em 0;
    min-height: 6.8em;
}


main {
	display: block;
	position: relative;
	background: var(--secondary-theme-color-op80);
	font-size: 2rem;
	padding: 0 2rem 0 2rem;
	color: white;
}

main h1 {
    font-size: 2.4rem;
    font-family: 'Roboto Condensed';
    font-weight: 400;
    line-height: 2.4rem;
    padding: 1rem 2rem;
    margin: 0 -2rem 2rem;
    background: var(--secondary-theme-color-op80);
    border-bottom: 0.4rem solid #ffffff33;
    color: #ffffffCC;
    text-transform: uppercase;
}

main .box-header {
    margin: -2rem -2rem 2rem;
    font-size: 2rem;
    line-height: 3.6rem;
    padding: 0 2rem;
    color: var(--primary-theme-color);
    text-transform: uppercase;
    background: var(--secondary-theme-color-op80);
    border-bottom: 0.4rem solid #ffffff33;
    font-family: 'Roboto Condensed';
}

main .box-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 2rem 2rem;
}