#wars_topbar_container
{
	width: 100%;
	// background-color: rgba(0,0,0,0.75);
	height: 25px;
}

.wars_topbar_button
{
	height: 100%;
	color: #FFFFFF;
	border:0;
	border-right:1px solid #4d4d51;
	background-color: rgba(62,62,62,0.9);
}

.wars_topbar_button:hover
{
	background-color: rgba(27,149,231,0.9);
}

.wars_topbar_button_right
{
	height: 100%;
	color: #FFFFFF;
	border:0;
	border-right:1px solid #4d4d51;
	background-color: rgba(62,62,62,0.9);
	float: right;
}

.wars_topbar_button_right:hover
{
	background-color: rgba(27,149,231,0.9);
}