#windowContent
{
	overflow: hidden;
}

#unitpanel_footer
{
	display: block;
	height: 20px;
}

#unitpanel_placeButton
{
	padding: 0;
	margin-top: 5px;
}

#unitpanel_playersDropdown
{
	display: inline-block;
	margin-top: 5px;
	float: right;
}

#abilitypanel_executeButton
{
	padding: 0;
	margin-top: 5px;
}
