.wars_messagebox{
	position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 60%;
	width: 560px;
	height: 110px;
	display: block;
}

.wars_messagebox-enter {
    opacity: 0.01;
  }

.wars_messagebox-enter.wars_messagebox-enter-active {
    opacity: 1;
    transition: opacity 200ms ease-in;
}

.wars_messagebox-exit {
    opacity: 1;
}

.wars_messagebox-exit.wars_messagebox-exit-active {
    opacity: 0.01;
    transition: opacity 400ms ease-in;
}

#wars_messagebox_bg{
	position:absolute;
	top: 0px;
    left: 0px;
	-moz-user-select: none;
	-webkit-user-select: none;
	cursor:default;
}

#wars_messagebox_container 
{
	position:absolute;
    top: 20px;
    left: 40px;
	
    width: 590px;
	height: 128px;
	
	-moz-user-select: none;
	-webkit-user-select: none;
	cursor:default;

}

#wars_messagebox_text_container{
	position:absolute;
	left:20px;
	top:2px;
	width: 560px;
	height: 110px;
}

#wars_messagebox_text
{
	position:absolute;
    color:white;
    margin-top: 20px;
	
	-moz-user-select: none;
	-webkit-user-select: none;
	cursor:default;
}

#wars_messagebox_button
{
	position:absolute;
	left: 413px;
	top: 64px;
	
	-moz-user-select: none;
	-webkit-user-select: none;
	cursor:default;
}

#wars_messagebox_box
{
	position:absolute;
	top: 0px;
    left: 0px;
	
	-moz-user-select: none;
	-webkit-user-select: none;
	cursor:default;
}