@keyframes objectiveItemUndone {
    0% {
        background-color: transparent;
    }
    30% {
        background-color: rgba(255, 255, 0, 0.7);
    }
    100% {
        background-color: transparent;
    }
}

@keyframes objectiveItemSuccess {
    0% {
        background-color: transparent;
    }
    30% {
        background-color: rgba(255, 255, 0, 0.7);
    }
    100% {
        background-color: transparent;
    }
}

@keyframes objectiveItemFailed {
    0% {
        background-color: transparent;
    }
    30% {
        background-color: rgba(255, 255, 0, 0.7);
    }
    100% {
        background-color: transparent;
    }
}

.wars_objectivelist_container 
{
	position:absolute;
	top: 3%;
	right: 5%;
	width: 500px;
    transform: scale(1);
    transform-origin: top center;
	user-select: none;
    cursor:default;
    display: block;

    .wars_objective_button
    {
        color:white;
        height: 16px;
        width: 68px;
        display: block;
        margin-left: 20px;
    }

    .header {
        background-image: url('../../images/objectives/frame_head.png');
        width: 460px;
        height: 28px;

        .title {
            margin-left: 12px;
            float: left;
            color: white;
            display: flex;
            align-items: center;
            height: 100%;
        }

        .counts {
            margin-right: 12px;
            float: right;
            display: flex;
            align-items: center;
            height: 100%;

            .group {
                margin-left: 10px;
                display: flex;
                align-items: center;
                height: 100%;
            }
        }
    }
    
    .wars_objectivelist
    {
        color: #FFFFFF;
        list-style-type: none;
        margin: 0;
        padding: 0;

        .wars_objectivelist_element
        {
            margin:5px;
            background-color: rgba(208, 130, 20, 0.2);
            border-radius: 5px;
        }
    
        .normal {
            animation: objectiveItemUndone 1.5s;
        }
        .success {
            animation: objectiveItemSuccess 1.5s;
        }
        .failed {
            animation: objectiveItemFailed 1.5s;
        }
    }

    .font-objective-items
    {
        font-size: 100%;
    }
}

// Full container appearing
.wars_objectivelist_container-enter {
    opacity: 0.01;
  }

.wars_objectivelist_container-enter.wars_objectivelist_container-enter-active {
    opacity: 1;
    transition: opacity 1000ms ease-in;
}

.wars_objectivelist_container-exit {
    opacity: 1;
}

.wars_objectivelist_container-exit.wars_objectivelist_container-exit-active {
    opacity: 0.01;
    transition: opacity 1000ms ease-in;
}

// Hiding objective list
.wars_objectivelist-enter {
    opacity: 0.01;
  }

.wars_objectivelist-enter.wars_objectivelist-enter-active {
    opacity: 1;
    transition: opacity 200ms ease-in;
}

.wars_objectivelist-exit {
    opacity: 1;
}

.wars_objectivelist-exit.wars_objectivelist-exit-active {
    opacity: 0.01;
    transition: opacity 400ms ease-in;
}
