#wars_postgame_container
{
    user-select: none;
    font-family: Arial;
    position: absolute;
    top: 3rem;
    left: 12rem;
    background: rgba(39, 39, 39, 0.25);
    color: #FFFFFF;
    width: calc(100% - 24rem);
    height: auto;
    text-align: center;
    padding-bottom: 2rem;
}
