// Create with: https://google-webfonts-helper.herokuapp.com/fonts/
@import "font_open_sans";
@import "font_roboto_condensed";
@import "font_roboto";

@import "./bootstrap";

$rem-base: 14px;

html, body {
	height: 100%;
	min-height: 100%;
	margin: 0px;
	padding: 0px;
	font-size: $rem-base;
	line-height: 1;
}

body {
	font-family: 'Open Sans';
	// background: rgb( 0, 0, 0);
	// color: rgb( 0, 0, 0);
	background-color: transparent;
	overflow: hidden;
}

.card {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.card {
	background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
    display: block;
}
.card span.card-title {
	color: #fff;
	font-size: 24px;
	font-weight: 300;
	text-transform: uppercase;
}

.card .card-content {
	padding: 16px;
	border-radius: 0 0 2px 2px;
	background-clip: padding-box;
}
.card .card-content p {
	margin: 0;
	color: inherit;
}
.card .card-content span.card-title {
	line-height: 48px;
}

.windowHandle {
	width: 100%;
	height: 20px;
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	cursor: move;
}

